

body{
    background-color: #EEF4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
    padding: 0;
    margin: auto;
    margin-top: 1%;
    height: 90vh;
    width: 50vw;
}

.title-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E2F2F;
    width: 100%;
    height: 18%;
    
}
.title{
    color: white;
}

.middle-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80%;
    
}

.side-bar{
    background-color: #D1B1CB;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: 100%;
    margin: 0;
    width: 25%;
    
}

.side-bar-title{
    text-align: start;
    padding-left: 20px;
}

.sketch-area{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.sketch{
    display: flex;
    border: 1px solid gray;
    flex-direction: row;
    flex-flow: wrap;
    flex-grow: 1;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.table{
    table-layout: fixed;
    width: 100%;

}

td{
    color: white;
}

.col{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pixel{
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.black{
    color: black;
    background-color: black;
}