html{
    height: 100%;
    width: 100%;
    background-color: beige;
}
body{
    display:flex;
    min-height: 100%;

}

#container{
    display:grid;
    grid-template: 1fr 3fr 1fr/1fr 3fr;
    min-height: 100%;
    width:  100%;
    padding-left: 10%;
    padding-right: 10%;
    
}

#sidebar{
    grid-area: 1/1/4/2;
    background-color: #bda3e6;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

}

#inputs{
    margin:auto;
    font-size: large;
    line-height: 2em;
    justify-self: center;
}

#top{
    grid-area: 1/2/2/3;
    background-color: #ccef96;

}

#middle{
    grid-area: 2/2/3/3;
    background-color: #d4ecdd;
    display: grid;

}

#foot{
    grid-area:3/2/4/3;
    background-color: #96ccef;
}